.container-category {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories-list {
    list-style-type: none;
    padding: 0;
}

.category-button {
    padding: 20px 30px;
}