.container-home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.btn {
  background-color: #8CADA7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  background-color: #708a86;
  transform: scale(1.1);
}

.rotateImg {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}