.container-questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.questions-list {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

.answers-list {
  list-style-type: none;
}