.container-questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.answer-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #739276;
  color: #fff;
  cursor: pointer;
}

.answer-button.selected {
  background-color: #739276;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #739276;
  color: #fff;
  cursor: pointer;
}
